/*     MAIN     */


main {
    max-width: 1200px;
    margin: 0 auto;
}

.texto-inicial-index {
    margin: 0 auto;
    max-width: 1200px;
    text-transform: uppercase;
    margin-top: 40px;
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-align: center;
    border-bottom: solid 5px #000000;
}
.texto-inicial {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 150px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 80px;
    border-bottom: solid 5px #000000;   


}

.nosotros {

    background-color: aquamarine;
}

